.k-page-view {
  .k-button.k-status-icon[data-robots]::after {
    content: attr(data-robots-label);
    padding: 0 0 0 1.75rem;
    vertical-align: bottom;
    margin-left: 1rem;
    color: rgb(17 17 17 / 75%);
    pointer-events: none;
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0a1.455 1.455 0 0 1 .727 2.713v.923h.728a5.091 5.091 0 0 1 5.09 5.091h.728a.727.727 0 0 1 .727.728v2.91a.727.727 0 0 1-.727.727h-.727v1.454A1.455 1.455 0 0 1 13.09 16H2.909a1.454 1.454 0 0 1-1.454-1.454v-1.454H.727A.727.727 0 0 1 0 12.364v-2.91a.727.727 0 0 1 .727-.727h.728a5.09 5.09 0 0 1 5.09-5.09h.728v-.924A1.455 1.455 0 0 1 8 0ZM4.727 9a1.818 1.818 0 1 0 0 3.636 1.818 1.818 0 0 0 0-3.636Zm6.546 0a1.818 1.818 0 1 0 0 3.636 1.818 1.818 0 0 0 0-3.636Z' fill='%239fb562'/%3E%3C/svg%3E") no-repeat 0.25rem;
  }

  .k-button.k-status-icon[data-robots*="no"]::after {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15 14 2' stroke='%23cca000' stroke-width='2' stroke-linecap='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.02852.42603a1.45455 1.45455 0 0 0-2.48307 1.02852c0 .53818.29091 1.0109.72728 1.25818v.92363h-.72728a5.0909 5.0909 0 0 0-5.0909 5.09091H.72727A.72728.72728 0 0 0 0 9.45455v2.90975a.72722.72722 0 0 0 .72727.7273h.72728v1.4539c0 .3694.14058.7244.39212.9934l2.90269-2.9027a1.6253 1.6253 0 0 1-.02209.0002 1.81816 1.81816 0 0 1-1.28565-.5326 1.81798 1.81798 0 0 1-.53253-1.2856c0-.4822.19156-.94469.53253-1.28567a1.81822 1.81822 0 0 1 2.5713 0 1.81824 1.81824 0 0 1 .5324 1.30777l6.08888-6.08889a5.09115 5.09115 0 0 0-3.17965-1.11505h-.72728v-.92363c.43637-.24728.72728-.72.72728-1.25818A1.45456 1.45456 0 0 0 9.02852.42603Zm4.89558 5.8639L11.213 9.00098a1.81838 1.81838 0 0 1 1.3454.53155c.341.34098.5325.80347.5325 1.28567 0 .4822-.1915.9447-.5325 1.2856-.341.341-.8035.5326-1.2857.5326-.4822 0-.9446-.1916-1.28562-.5326a1.81794 1.81794 0 0 1-.53156-1.3453L4.21402 16h8.87688a1.45464 1.45464 0 0 0 1.4546-1.4545v-1.4539h.7272a.7273.7273 0 0 0 .5143-.213.7273.7273 0 0 0 .213-.5143V9.45455a.72721.72721 0 0 0-.213-.51426.72736.72736 0 0 0-.5143-.21302h-.7272a5.0907 5.0907 0 0 0-.6214-2.43734Z' fill='%23cca000'/%3E%3C/svg%3E") no-repeat 0.25rem;
  }
}

// make some spacing stuff better
[name="ogheadline"],
[name="robotsheadline"] {
  padding-top: 0;
}
